*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}
/*body*/
body{
    background-color: #98C7ED;
    color: #333;
    line-heigt:1.6;
}

/*Header*/
header {
 background-color: #0078FF;
    color: white;
    line-heigt:120px 0;
}
header nav {
display: flex;
justify-content: space-between;
align-items: center;
width: 80%;
margin: auto;
}
header ul{
 list-style: none;
    display: flex;
    gap: 20px;
}
header nav ul li a {
color: while;
text-decoration: none;
font-weigt: bold
}